* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug-mode {
    border: 2px solid black;
    /* height: ; */
}

.container {
    height: 935px;
    width: 900px;
    margin: 20px auto;
}

.row {
    height: 450px;
    width: 100%;
    margin-bottom: 30px;
}

article {
    height: 100%;
    width: 278px;
    display: inline-block;
}

#article-mid {
    margin: 0 25px;                     
}

header {
    height: 50px;
}

.photo {
    position: relative;
}

.heart {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: white;
    padding: 6px 12px;
    font-size: 20px;
}

.tag {
    position: absolute;
    left: 0px;
    bottom: 20px;  
}
.sconto {
    color: white;
    background-color: red;
    font-size: 12px;
    padding: 3px 5px;
}

.green {
    color: white;
     background-color: green;
     font-size: 12px;
     padding: 3px 5px; 
}

img {
    height: 400px;
    object-fit: cover;
}